/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



:root {
  --main-bg-color: #504f4f;
  --primary-type-color: #5ced73;
  --accent-color-1: #75bfec;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------ Typography -------*/
body {
  font-family: "Open Sans", sans-serif;
}

/* ------ Fluid Images -------*/
img {
  max-width: 100%;
}

/* ------ Utility Classes  -------*/
.container {
 /* Design Time */
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.15);
}

/* ------ Helper Classes -------*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/* ------ Global Styles -------*/

body {
  background: var(--main-bg-color);
  color: var(--primary-type-color);
  line-height: 1.6;
}
a:link,
a:visited {
  color: var(--primary-type-color);
}

nav {
  padding: 1px;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 20px 0px 20px;
}

nav li {
  list-style-type: none;
}

nav a:link, nav a:visited {
  display: block;
  padding: 8px 16px;
  border: 1px solid #000;
  text-align: center;
  text-decoration: none;
  color: #222222;
  text-transform: uppercase;
  font-size: 0.75em;
  background: rgba(0, 0, 0, 0.65);
  transition: background-color 0.5s ease;
  color: #ffffff;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.95);
  border: 1px solid var(--primary-type-color)
}

main {
  padding: 1px 20px;
}

main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-variant: small-caps;
}
main h1:before,
main h1:after {
  background-color: var(--accent-color-1);
  content: "\a0";
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 1.6rem;
}
main h1:before {
  margin-right: 5px;
}
main h1:after {
  margin-left: 5px;
}

dl {
  display: grid;
  /*shorthand*/
  grid-template: repeat(8, auto) / 8em 1fr ;
  font-size:.9rem;
}

dt {
  font-weight: 800;
  grid-column: 1;
  padding: 10px 0;
  border-bottom: 1px solid var(--accent-color-1);
}
dd {
  margin: 0;
  grid-column: 2;
  padding: 10px 0;
  border-bottom: 1px solid var(--accent-color-1);
}

.related-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap:20px;
  
}

.related-links a {
  border: 1px solid var(--primary-type-color);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  color: #222222;
  text-transform: uppercase;
  font-size: 0.75em;
  background: rgba(0, 0, 0, 0.65);
  transition: background-color 0.5s ease;
  color: #fff;
}

.related-links .svg-inline--fa {
  font-size: 1.8em;
  padding-top: 7px;
}

.related-links a:hover {
  background: rgba(0, 0, 0, 0.95);
  border: 1px solid var(--accent-color-1)
}

.related-links li {

}

#skills {
}
#skills li {
  list-style-type: square;
}

.job,
.certificate {
  border-bottom: 1px solid var(--accent-color-1);
  padding-bottom: 20px;
}

.job *[itemprop="jobTitle"],
.job *[itemprop="name"],
.job *[itemprop="url"],
.job *[itemprop="addressLocality"],
.certificate *[itemprop="name"] {
  display: block;
}

.job h3 {
  margin: 20px 0 0 0;
}

.url:hover {
  color: var(--accent-color-1)
}

footer {
  text-align: center;
  padding: 20px 0;
}

h2 span {
border: 1px solid var(--primary-type-color);
  padding: 8px 16px;
  text-align: left;
  text-decoration: none;
  color: #222222;
  font-size: .8em;
  background: rgba(0, 0, 0, 0.65);
  color: var(--primary-type-color);
}
h3{
  color: var(--accent-color-1);
  
}

.page-title {
  grid-area: title;
}
#about {
  grid-area: about;
}
#skills {
  grid-area: skills;
}
#experience {
  grid-area: experience;
}
#education {
  grid-area: education;
}

main {
  display: grid;
  grid-template-areas: 
  "title"  
  "about"
  "skills"
  "experience"
  "education"
  ;
}

/*---------------------------------------Media Queries--------------------------------------*/

@media screen and (min-width: 768px) {

  .container{
    width:680px;
  }

    main.container{
      display: grid;
      grid-template-columns: 36.5% auto;
      grid-template-areas:
      "title title"
      "about about"
      "experience skills"
      "experience education"
      ;
      gap: 25px;
    }

    /*Nestled Grid*/
    #about {
      display:grid;
      grid-template-columns: 250px 1fr  300px auto;
      gap:2em;
      grid-template-areas:
    "details details bio"
    "related related related"
    }
    

    .bio{
      grid-area:bio;
    }
    .details{
      grid-area:details;
    }
    .related-links{
      grid-area:related;
    }
}
