:root {
    --main-bg-color: #252828;
    --primary-text-color: #f9ef0b;
    --secondary-text-color: #f9c90b;
  }
  
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* ------ Typography -------*/
  body {
    font-family: "Open Sans", sans-serif;
  }
  
  /* ------ Fluid Images -------*/
  img {
    max-width: 100%;
  }

  /* ------ Fluid Videos -------*/
  video {
    max-width: 100%;
  }
  
  /* ------ Utility Classes  -------*/
  .container {
   /* Design Time */
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.15);
  }
  
  /* ------ Helper Classes -------*/
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
  }
  
  /* ------ Global Styles -------*/

  

  a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

a:hover {
    color: var(--secondary-text-color);
}
  
  body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    line-height: 1.6;
    text-align: center;
  }

  .container {
    max-width: 100%;
  }
  .content-section{
    max-width: 100%;
  }
  .card-section {
    margin-bottom: 20px; 
  }
  #header-video {
    width: 100%;
  }
  #body-image {
    width: 100%;
  }
  #card-image {
    width: 90%
  }

 @media screen and (min-width: 751px) and (max-width: 1200px) {
  sub-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    width: auto; 
    margin-bottom: 0; 
  }
  }

  @media screen and (min-width: 1201px) {
    sub-main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px; 
      width: auto; 
      margin-bottom: 0; 
    }

  }