:root {
  --defaultpixel: 20px;
  --bigpixel: 30px;
  --primary-color: orange ;
  --secondary-color: #8fb87f;
  --text-color: blue;
  --hover-color: green;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url("../img/assessment-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
}
h2 {
    color: whitesmoke;
    text-align: center;
    margin-top: var(--defaultpixel);
}

ul {
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    margin-top: var(--defaultpixel);
    padding: 0px var(--bigpixel) 0px var(--bigpixel);
    font-size: 1rem;
}

li {
    margin-top: 10px;
    background-color: var(--primary-color);
    padding: var(--defaultpixel);
  border:1px solid white;
  border-radius:6px;
}

li:nth-child(odd) {
    background-color: var(--secondary-color);
  }

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: var(--hover-color);
}


nav ul {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap: var(--defaultpixel);

    
}


@media screen and (max-width: 600px){ 
    nav ul{
      grid-template-columns:1fr;
    }
  }

  @media screen and (max-width:800px) and (min-width:601px){
    nav ul{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) and (min-width:801px){
  
    nav ul{
      grid-template-columns: repeat(4, 1fr);
    }
    
  }

 @media screen and (min-width:1001px){
  
  nav ul{
    grid-template-columns: repeat(5, 1fr);
  }
    
}