html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

main {
    /*width: 980px;*/
    margin: 20px auto;
    border: 1px solid #000;
}

header.primary, footer.primary {
   /* width:940px;*/
   width: 95.9183%;
    background: rgba(0, 0, 0, 0.4);
    /*margin: 20px;*/
    margin: 2.0408%;
    padding: 20px 20px 20px 20px;
    float: left;
}

#blog {
    background: rgba(0, 0, 0, 0.6);
    /*width: 640px;*/
    width: 65.3061%;
    /*margin-left: 20px;*/
    margin-left: 2.0408%;
    padding: 20px 20px 20px 20px;
    float: left;
}

aside {
    background: rgba(0, 0, 0, 0.3);
    /*width:280px;*/
    width: 28.5714%;
    /*margin-left: 20px;*/
    margin-left: 2.0408%;
    padding: 20px 20px 20px 20px;
    float: left;
}